package _templ

templ Height() {
    <div>
        <input placeholder="enter the length to convert" style="border: 1px solid black; border-radius:2px;">
    </div>
    <div>
        <input>
    </div>
    <div>
        <input>
    </div>
    @Button("Convert")
}