{{define "length"}}
<form>
    <div>
        <label for="">
            Enter the length to convert
        </label>
        <input type="text" name="amount">
    </div>
    <div>
        <label for="">
            unit to convert from
        </label>
        <input type="text" name="from">
    </div>
    <div>
        <label for="">
            unit to convert to
        </label>
        <input type="text" name="to">
    </div>
    <button hx-post="/length">
        convert
    </button>
</form>

{{end}}